# Web Scraping
selenium==4.15.2
webdriver-manager==4.0.1

# Data Processing
pandas==2.1.3
numpy==1.26.2

# Dashboard
dash==2.14.2
dash-bootstrap-components==1.5.0
plotly==5.18.0

# Utilities
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0